body{
    /* height: 1000vh; */
    background: linear-gradient(150deg, lightgray, lightblue, lightpink,  lightyellow)
}


h1{
    color:#333;

}


.progress {
    position:fixed;
    width:4px;
    height:140px;
    top:40%;
    left:10px;
    background-color: white;
    z-index:10;
}


.bar {
    position: absolute;
    width: 4px;
    height:140px;
    top:0;
    left: 0;
    background: indigo;
    z-index:20;
    
}

.section{
    position:relative;

    width: 80%;
    background-color:rgba(0,0,0,0.94);
    margin: 30px auto;
    padding: 10px 20px;
}

.section p {
    color: #fff;
    font-size:15px;
}

   /* 구름 */
   .cloudWrap {
    position: fixed;
  }
  .cloudWrap.cloud2 {
    position: fixed;
    top:-200px;
    left: 700px;
    z-index : 1000;
  }
  
  .cloudWrap img {
    position: absolute;
    width: 400px;
    top:0; left: 0;
  }

  /* 구름 각각 위치 잡아주기 */
  .cloudWrap img:nth-child(1) {
    top : -100px;
    left : 500px;
  }
  .cloudWrap img:nth-child(2) {
    top : 800px;
    left : 0px;
  }
  .cloudWrap img:nth-child(3) {
    top : 1800px;
    left : 400px;
  }
  .cloudWrap img:nth-child(4) {
    top : 3000px;
    left : -100px;
  }
  .cloudWrap img:nth-child(5) {
    top : 4200px;
    left : 500px;
  }
  .cloudWrap img:nth-child(6) {
    top : 5900px;
    left : -140px;
  }
  .cloudWrap img:nth-child(7) {
    top : 7000px;
    left : 500px;
  }
  .cloudWrap img:nth-child(8) {
    top : 8000px;
    left : -190px;
  }
  .cloudWrap img:nth-child(9) {
    top : 9500px;
    left : 600px;
  }